In [1]:
# Import dependencies (python)
# pip install citipy if needed

import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

# add citipy library
from citipy import citipy

# add requests module
import requests

# import API key from config.py
from config import weather_api_key

# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [2]:
# From Module 6.1.4 
# Create a set of random lat and long cobinations
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=10)
lngs = np.random.uniform(low=-180.000, high=180.000, size=10)

# The zip method combines lats and longs into a list of pairs
lat_lngs = zip(lats, lngs)
lat_lngs


# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [3]:
# From Module 6.1.5

# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

10

In [4]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
# print(url)

In [5]:
# From Moduule 6.2.6
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
      
    # From Module 6.2.6
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | albany
Processing Record 2 of Set 1 | yulara
Processing Record 3 of Set 1 | bambous virieux
Processing Record 4 of Set 1 | avarua
Processing Record 5 of Set 1 | lorengau
Processing Record 6 of Set 1 | tasiilaq
Processing Record 7 of Set 1 | tahe
Processing Record 8 of Set 1 | kota belud
Processing Record 9 of Set 1 | san ramon de la nueva oran
Processing Record 10 of Set 1 | marawi
-----------------------------
Data Retrieval Complete
-----------------------------

In [6]:
# From Module 6.2.7
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,42.6001,-73.9662,95.04,45,6,1.01,US,2022-07-20 18:16:55
1,Yulara,-25.2406,130.9889,47.77,47,12,10.58,AU,2022-07-20 18:17:34
2,Bambous Virieux,-20.3428,57.7575,70.21,73,40,14.97,MU,2022-07-20 18:17:35
3,Avarua,-21.2078,-159.7750,73.45,73,75,16.11,CK,2022-07-20 18:17:35
4,Lorengau,-2.0226,147.2712,79.50,80,72,3.91,PG,2022-07-20 18:17:36
5,Tasiilaq,65.6145,-37.6368,42.96,80,43,3.24,GL,2022-07-20 18:17:36
6,Tahe,52.3333,124.7333,61.38,92,20,2.21,CN,2022-07-20 18:17:36
7,Kota Belud,6.3510,116.4305,77.63,82,89,4.92,MY,2022-07-20 18:17:37
8,San Ramon De La Nueva Oran,-23.1322,-64.3260,73.42,37,100,0.94,AR,2022-07-20 18:17:37
9,Marawi,7.9986,124.2928,69.93,94,76,3.56,PH,2022-07-20 18:17:37

In [7]:
# From Module 6.2.7
# Reorder Data frame
new_column_order = ['City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed']
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Albany,US,2022-07-20 18:16:55,42.6001,-73.9662,95.04,45,6,1.01
1,Yulara,AU,2022-07-20 18:17:34,-25.2406,130.9889,47.77,47,12,10.58
2,Bambous Virieux,MU,2022-07-20 18:17:35,-20.3428,57.7575,70.21,73,40,14.97
3,Avarua,CK,2022-07-20 18:17:35,-21.2078,-159.7750,73.45,73,75,16.11
4,Lorengau,PG,2022-07-20 18:17:36,-2.0226,147.2712,79.50,80,72,3.91
5,Tasiilaq,GL,2022-07-20 18:17:36,65.6145,-37.6368,42.96,80,43,3.24
6,Tahe,CN,2022-07-20 18:17:36,52.3333,124.7333,61.38,92,20,2.21
7,Kota Belud,MY,2022-07-20 18:17:37,6.3510,116.4305,77.63,82,89,4.92
8,San Ramon De La Nueva Oran,AR,2022-07-20 18:17:37,-23.1322,-64.3260,73.42,37,100,0.94
9,Marawi,PH,2022-07-20 18:17:37,7.9986,124.2928,69.93,94,76,3.56

In [8]:
# From Module 6.2.7
# Create the output file (CSV).
output_data_file = "weather_database/WeatherPy_Database.csv"

# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")